/**
 * Banken Module CSS
 * Imports all banken-specific styles from modular files
 */

@import 'modules/banken/_layout.css';
@import 'modules/banken/_kpis.css';
@import 'modules/banken/_tables.css';
@import 'modules/banken/_crm.css';
@import 'modules/banken/_chat.css';
@import 'modules/banken/_feedback.css';
