/* Chat Module - Consolidated Imports */
@import './_typewriter.css';
@import './_agentur.css';
@import './_billing.css';
@import './_deloitte.css';
@import './_landing.css';
@import './_navigation.css';
@import './_settings.css';
@import './_widget.css';
