/**
 * Risikoscoring Module - CSS Entry Point
 * Modular CSS Architecture
 */

@import '_base.css';
@import '_header.css';
@import '_tabs.css';
@import '_scoring.css';
@import '_enterprise.css';
@import '_measures.css';
@import '_kpi.css';
@import '_responsive.css';
